In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
a=[10,20,30,40]
seri=pd.Series(a)
type(seri)

In [ ]:
import pandas as pd
a=[10,20,30]
seri=pd.Series(a,index=["a","b","c"])
seri['b']

In [ ]:
#sözlüklerden seriler oluşturma
kalori={"gun1":350,"gun2":122,"gun3":222}
seri=pd.Series(kalori)
seri

In [ ]:
#sözlüklerden seriler oluşturma
kalori={"gun1":[350,120,333],"gun2":[122,12,342],"gun3":[222,14,578],"gun4":[2138,146,178]}
seri=pd.DataFrame(kalori)
seri

In [ ]:
data={"arabalar":["Ford","Mercedes","Renault","Audi"],"Ücret":[100660,200056,210560,250000]}
seri=pd.DataFrame(data,index=["a1","a2","a3","a4"])#indexlere a1 a2(normalde 0,1,2,3 vs) vs attım
seri

In [ ]:
#dataframe bulunan verilere erişim
seri.loc["a1":"a3"]

In [ ]:
data={"arabalar":["Ford","Mercedes","Renault","Audi"],"Ücret":[100660,200056,210560,250000]}
seri2=pd.DataFrame(data)
seri2

In [ ]:
seri2.iloc[0:1,0:2]

In [ ]:
import pandas as pd
df=pd.read_csv('../input/veri121321/ornek.csv')
df

In [ ]:
df.head(20) #kac veri gorceksen headin içine yaz

In [ ]:
df.tail() #sondan gösteriyor

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.dropna()

In [ ]:
df.isnull()

In [ ]:
df.fillna() #boş veriyi bulup değiştirmeye yarar

In [ ]:
for column in df.columns:
 df[column].fillna(0,inplace=True)

In [3]:
import pandas as pd
df=pd.read_csv('../input/veri121321/ornek.csv')

In [4]:
df.index

RangeIndex(start=0, stop=169, step=1)

In [5]:
df['Duration']<100

0      True
1      True
2      True
3      True
4      True
       ...
164    True
165    True
166    True
167    True
168    True
Name: Duration, Length: 169, dtype: bool

In [6]:
df[df['Duration']>100]

     Duration  Pulse  Maxpulse  Calories
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
69        300    108       143    1500.2
70        150     97       129    1115.0
73        150     97       127     953.2
78        120    100       130     500.4
79        270    100       131    1729.0
83        120    100       130     500.0
87        120    100       157    1000.1
90        180    101       127     600.1
106       180     90       120     800.3
109       210    137       184    1860.4

In [7]:
sart=df['Pulse']>50
df_new=df[sart]
df_new.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [9]:
import random
for ix in df.index:
  if df.loc[ix,'Duration']<120:
        df.loc[ix,'Duration']=100+random.randint(0,50)
df.head()

   Duration  Pulse  Maxpulse  Calories
0       124    110       130     409.1
1       100    117       145     479.0
2       115    103       135     340.0
3       118    109       175     282.4
4       127    117       148     406.0

In [10]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167    False
168    False
Length: 169, dtype: bool

In [11]:
df.value_counts()

Duration  Pulse  Maxpulse  Calories
100       117    145       479.0       1
133       112    146       361.9       1
134       125    150       330.4       1
          153    172       226.4       1
135       95     128       128.2       1
                                      ..
115       102    124       325.2       1
          103    135       340.0       1
          111    131       397.0       1
116       103    127       185.0       1
300       108    143       1500.2      1
Length: 164, dtype: int64

In [12]:
df['Duration'].value_counts() #hangi veriden kaç tane oldugunu yazar

114    9
138    8
150    7
108    7
129    6
127    6
113    6
123    5
124    5
103    5
139    5
146    5
105    5
102    5
101    4
147    4
140    4
120    4
115    4
126    3
144    3
180    3
134    3
104    3
143    3
149    3
109    3
119    3
111    3
116    2
117    2
132    2
122    2
145    2
160    2
141    2
121    2
118    2
135    2
210    2
131    1
128    1
107    1
270    1
130    1
136    1
100    1
300    1
112    1
110    1
106    1
148    1
133    1
Name: Duration, dtype: int64

In [14]:
df['Duration'].nunique()

53

In [15]:
data_1=df.head()
data_2=df.tail()
concat_data=pd.concat([data_1,data_2],axis=0)
concat_data

     Duration  Pulse  Maxpulse  Calories
0         124    110       130     409.1
1         100    117       145     479.0
2         115    103       135     340.0
3         118    109       175     282.4
4         127    117       148     406.0
164       108    105       140     290.8
165       139    110       145     300.0
166       135    115       145     310.2
167       111    120       150     320.4
168       134    125       150     330.4

In [19]:
data_1=df.iloc[0:5:]
data_2=df.iloc[25:30:]
concat_data=pd.concat([data_1,data_2],axis=0)
concat_data

    Duration  Pulse  Maxpulse  Calories
0        124    110       130     409.1
1        100    117       145     479.0
2        115    103       135     340.0
3        118    109       175     282.4
4        127    117       148     406.0
25       106    100       120     250.0
26       111     92       118     241.0
27       123    103       132       NaN
28       101    100       132     280.0
29       114    102       129     380.3

In [21]:
df.sort_values(by='Calories')#kucukten buyuge sıralama

     Duration  Pulse  Maxpulse  Calories
89        109     83       107      50.3
93        147     80       100      50.5
100       114     95       112      77.7
107       102     90       120      86.2
104       105     92       108      92.7
..        ...    ...       ...       ...
17        146     90       112       NaN
27        123    103       132       NaN
91        102    107       137       NaN
118       132    105       125       NaN
141       146     97       127       NaN

[169 rows x 4 columns]

In [22]:
df.sort_values(by='Calories',ascending=False)#buyukten kucuge sıralar

     Duration  Pulse  Maxpulse  Calories
109       210    137       184    1860.4
79        270    100       131    1729.0
69        300    108       143    1500.2
60        210    108       160    1376.0
70        150     97       129    1115.0
..        ...    ...       ...       ...
17        146     90       112       NaN
27        123    103       132       NaN
91        102    107       137       NaN
118       132    105       125       NaN
141       146     97       127       NaN

[169 rows x 4 columns]

In [23]:
df.sort_values(by=['Calories','Maxpulse'],ascending=False)

     Duration  Pulse  Maxpulse  Calories
109       210    137       184    1860.4
79        270    100       131    1729.0
69        300    108       143    1500.2
60        210    108       160    1376.0
70        150     97       129    1115.0
..        ...    ...       ...       ...
91        102    107       137       NaN
27        123    103       132       NaN
141       146     97       127       NaN
118       132    105       125       NaN
17        146     90       112       NaN

[169 rows x 4 columns]

In [25]:
euro=pd.read_csv('../input/euro12/Euro 2012 stats TEAM.csv')

In [26]:
euro.groupby(by='Goals').head(11)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [27]:
son=pd.read_csv('../input/sonyuklenen/user.csv')

In [28]:
son.head()

   userid  yas cinsiyet    posizyon  adres
0       1   24        M  technician  85711
1       2   53        F       other  94043
2       3   23        M      writer  32067
3       4   24        M  technician  43537
4       5   33        F       other  15213

In [33]:
nba=pd.read_csv('../input/nba-games/games_details.csv')
nba.head()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,Anthony,F,NaN,36:22,...,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,5.0
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,Jaden,F,NaN,23:54,...,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,10.0
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,Karl-Anthony,C,NaN,25:17,...,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,14.0
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,Malik,G,NaN,30:52,...,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,20.0
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,D'Angelo,G,NaN,33:46,...,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,17.0

In [39]:
nba.groupby("TEAM_CITY").sum().sort_values(by="BLK",ascending=True).head(5)

,GAME_ID,TEAM_ID,PLAYER_ID,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
TEAM_CITY,,,,,,,,,,,,,,,,,,,,,
New Orleans/Oklahoma City,40484421163,3172907097800,74141118,5802.0,13102.0,675.798,755.0,2141.0,238.541,3085.0,...,1943.0,4891.0,6834.0,3056.0,1133.0,658.0,2145.0,3406.0,15444.0,-1800.0
Seattle,108260722179,8558796206640,112504849,16365.0,36344.0,1891.102,3011.0,8347.0,710.757,8459.0,...,5302.0,12940.0,18242.0,9091.0,3302.0,1893.0,6359.0,10098.0,44200.0,-5465.0
LA,185635470364,13124883267154,5452668033,25003.0,53505.0,3023.986,6921.0,18567.0,1693.173,11808.0,...,5898.0,21641.0,27539.0,14466.0,4682.0,2871.0,8302.0,13116.0,68735.0,7585.0
New Jersey,204957934477,15727633513515,599184304,27906.0,63530.0,3294.772,4847.0,14040.0,1371.462,15414.0,...,8622.0,24234.0,32856.0,17548.0,5707.0,3341.0,11283.0,18183.0,76073.0,-10714.0
Brooklyn,251033463400,18378702101661,6274741940,33941.0,74795.0,4045.935,9081.0,25580.0,2102.866,15752.0,...,8922.0,29440.0,38362.0,19974.0,6347.0,3977.0,12560.0,17879.0,92715.0,-7442.0

In [41]:
for col in df.columns:
     df.loc[170,col]=df[col].sum()
 df.tail()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)